<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Create a new endpoint</h1>

            Make sure to copy your new personal access token now. You won't be able to see it again!

            <form action="{{ serverUrl('https') }}{{ url('endpoint/action', {'action': 'edit'}) }}" method="post">
                Private token:
                <input type="text"   name="token"  value="{{ token }}" style="width: 100%;">
                <input type="submit" name="submit" value="I understood">
            </form>

            A gist has been created for you here:

            <a href="{{ gist.url.html }}"
                target="_blank"
                rel="nofollow"
                >{{ gist.url.html }}</a>.

            <h2>Add your endpoint</h2>

            Don't forget to add your endpoint <a href="http://spaceapi.net/add-your-space" target="_blank">here</a>. Your URL is                 <pre><code>{{ serverUrl('http') }}{{ basePath() }}/space/{{ space }}/status/json</code></pre>

            </div>
        </div>
    </div>
</div>