
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Create a new endpoint</h1>

            <noscript>

                <p class="alert-info">
                    In order to create a new endpoint you need to enable JavaScript.
                </p>

                <style>
                    {# Hide the form if javascript is disabled #}
                    .noscript {
                        display: none;
                    }
                </style>

            </noscript>

            {% if error is defined %}

                <div class="alert alert-danger">

                    {# didn't work, probably because of angular-bootstrap  #}
                	{#<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}

                    <strong><i class="glyphicon glyphicon-warning-sign"></i></strong>

                    {% if error.type == "EndpointExists" %}
                        {{ error.message }}
                        <a href="{{ url('endpoint/action', {'action': 'edit'}) }}">Edit your endpoint.</a>
                    {% else %}
                        {{ error.message }}
                    {% endif %}
                </div>

            {% endif %}

            <form class="noscript" action="{{ url('endpoint/action', {'action': 'create'}) }}" method="post">

                {# pay attention with newlines and indentation, they
                   will be rendered #}
                {% set json = requested_endpoint_data.json %}
                <textarea name="json">{% if json %}{{ json }}{% endif %}</textarea>

                <input
                    name="hackerspace"
                    type="text" name="name"
                    value="{{ space }}"
                    placeholder="Space name"
                    {% if json %}readonly{% endif %}
                    >
                {{ recaptcha.html | raw }}

                {% if recaptcha_errors is defined %}
                    <div class="error">
                        {% for message in recaptcha_errors %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <input name="submit" type="submit" value="Create">
            </form>

        </div>
    </div>
</div>