<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Edit your endpoint</h1>

            {% if token is defined %}

                <a href="https://gist.github.com/{{ spaceapi.gist }}" target="_blank" rel="nofollow">Gist</a>
                <a href="http://endpoint.spaceapi.net/space/{{ spaceapi.slug }}/status" target="_blank" rel="nofollow">Your endpoint</a>
                <a href="http://endpoint.spaceapi.net/space/{{ spaceapi.slug }}/status/json" target="_blank" rel="nofollow">Your JSON</a>

                <form action="{{ url('endpoint/action', {'action': 'edit'}) }}" method="post">
                    <input type="hidden" name="token" value="{{ token }}" >

                    <label for="json">Edit your JSON</label>
                    <textarea name="json" style="width: 100%; height: 100px;">{{ spaceapi.json | json_without_gist }}</textarea>

                    <input type="submit" name="edit_action" value="Validate">
                    <input type="submit" name="edit_action" value="Save">
                </form>

                {% if spaceapi.validJson %}
                    {% if spaceapi.validation.ok %}
                        <div class="validation ok">Your JSON is compliant to the specs.</div>
                    {% else %}
                        <div class="validation error">{{ spaceapi.validation.result | json_encode }}</div>
                    {% endif %}
                {% else %}
                    <div class="validation error">Invalid JSON!</div>
                {% endif %}

            {% else %}

                <label for="token">Enter your private token to edit your endpoint.</label>

                <div class="error">{{ error }}</div>

                <form action="{{ url('endpoint/action', {'action': 'edit'}) }}" method="post">
                    <input type="text" name="token" value="" >
                    <input type="submit" name="submit" value="Go">
                </form>

            {% endif %}

        </div>
    </div>
</div>