{%
    do headLink()
        .appendStylesheet('/styles/page-endpoint-edit.min.css')
%}

<div class="container" ng-app="EndpointEditApp">
    <div class="row">
        <div class="col-md-12">

            <h1>Edit your endpoint</h1>

            {% if token is defined %}

                {% if spaceapi.gist != 0 %}
                <a href="https://gist.github.com/{{ spaceapi.gist }}" target="_blank" rel="nofollow">Gist</a>
                {% endif %}

                <a href="/space/{{ spaceapi.slug }}/status" target="_blank" rel="nofollow">Your endpoint</a>
                <a href="/space/{{ spaceapi.slug }}/status/json" target="_blank" rel="nofollow">Your JSON</a>

                <form action="{{ url('endpoint/action', {'action': 'edit'}) }}" method="post">
                    <input type="hidden" name="token" value="{{ token }}" >


                    <noscript>
                        <style>
                            textarea {
                                display: block !important;
                            }
                        </style>
                    </noscript>
                    <textarea name="json">{{ spaceapi.json | json_without_gist }}</textarea>


                    {%
                        set jeditor_config = {
                            'jsoneditor_default_input': spaceapi.json | jol_without_gist,
                            'use_noscript': false
                        }
                    %}
                    {% include 'partials/jsoneditor.twig' with jeditor_config only %}

                    <input type="submit" name="edit_action" value="Validate">
                    <input type="submit" name="edit_action" value="Save">
                </form>

                {% if spaceapi.validJson %}
                    {% if spaceapi.validation.ok %}
                        <div class="validation ok">Your JSON is compliant to the specs.</div>
                    {% else %}
                        <div class="validation error">{{ spaceapi.validation.result | json_encode }}</div>
                    {% endif %}
                {% else %}
                    <div class="validation error">Invalid JSON!</div>
                {% endif %}

            {% else %}

                <label for="token">Enter your private token to edit your endpoint.</label>

                <div class="error">{{ error }}</div>

                <form action="{{ url('endpoint/action', {'action': 'edit'}) }}" method="post">
                    <input type="text" name="token" value="" >
                    <input type="submit" name="submit" value="Go">
                </form>

            {% endif %}

        </div>
    </div>
</div>

{%
    do headScript()
        .appendFile('/scripts/angular-apps/endpoint-edit.js')
%}
