{% if token is defined %}

    <a href="https://gist.github.com/{{ spaceapi.gist }}" target="_blank" rel="nofollow">Gist</a>

    <form action="{{ url('endpoint/action', {'action': 'edit'}) }}" method="post">
        <input type="hidden" name="token" value="{{ token }}" >

        <label for="json">Edit your JSON</label>
        <textarea name="json" style="width: 100%; height: 100px;">{{ spaceapi.json | jsonWithoutGist }}</textarea>

        <input type="submit" name="edit_action" value="Validate">
        <input type="submit" name="edit_action" value="Save">
    </form>

    {% if spaceapi.validation.ok %}
        <div class="validation ok">Your JSON is fine!</div>
    {% else %}
        <div class="validation error">{{ spaceapi.validation.errors | json_encode }}</div>
    {% endif %}

{% else %}

    <label for="token">Enter your private token to edit your endpoint.</label>

    <form action="{{ url('endpoint/action', {'action': 'edit'}) }}" method="post">
        <input type="text" name="token" value="" >
        <input type="submit" name="submit" value="Go">
    </form>

{% endif %}
