{%
    do headLink()
        .appendStylesheet('/styles/page-endpoint-edit.min.css')
%}

<div class="container" ng-app="EndpointEditApp">
    <div class="row">
        <div class="col-md-12">

            <h1>Edit your endpoint</h1>

            {% if token is defined %}

                <div class="buttons">
                    {% if spaceapi.gist != 0 %}
                    <a class="btn btn-default" href="https://gist.github.com/{{ spaceapi.gist }}" target="_blank" rel="nofollow">Gist</a>
                    {% endif %}
                    <a class="btn btn-default" href="/space/{{ spaceapi.slug }}/status" target="_blank" rel="nofollow">Your endpoint</a>
                    <a class="btn btn-default" href="/space/{{ spaceapi.slug }}/status/json" target="_blank" rel="nofollow">Your JSON</a>
                </div>

                <form
                    ng-controller="EndpointEditController"
                    action="{{ url('endpoint/action', {'action': 'edit'}) }}"
                    method="post"
                    >


                    {# IMPORTANT: we use jqLite which doesn't support
                                  all kind of selectors, thus the controller
                                  is taking the first textarea it finds
                     #}
                    <textarea name="json">{{ spaceapi.json | json_without_gist | json_without_api }}</textarea>
                    <noscript>
                        <style>
                            textarea {
                                display: block !important;
                            }
                        </style>
                    </noscript>

                    <input type="hidden" name="token" value="{{ token }}" >

                    {%
                        set jeditor_config = {
                            'default_input': spaceapi.json | json_without_gist | json_without_api,
                            'use_noscript': false,
                            'ace_config': '{onChange: aceChanged}'
                        }
                    %}
                    {% include 'partials/jsoneditor.twig' with jeditor_config only %}

                    <div class="buttons">
                        <input class="btn btn-default" type="submit" name="edit_action" value="Validate">
                        <input class="btn btn-default" type="submit" name="edit_action" value="Save">
                    </div>

                </form>

                {%
                    set validation_partial_parameters = {
                        'spaceapi': spaceapi
                    }
                %}
                {% include 'partials/validation_results.twig' with validation_partial_parameters only %}

            {% else %}

                <label for="token">Enter your private token to edit your endpoint.</label>

                <div class="error">{{ error }}</div>

                <form action="{{ url('endpoint/action', {'action': 'edit'}) }}" method="post">
                    <input type="text" name="token" value="" >
                    <input type="submit" name="submit" value="Go">
                </form>

            {% endif %}

        </div>
    </div>
</div>

{%
    do headScript()
        .appendFile('/scripts/angular-apps/endpoint-edit.js')
%}
