<section class="jeditor">

    {# dev-note:1 #}
    <header>
        <a name="jsoneditor"></a>
        <h2>Compose your endpoint JSON</h2>
        <p>Edit an existing endpoint <a href="/endpoint/edit">here</a>.</p>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <noscript>
                    <style>
                        #jeditor_buttons, .validation-results {
                            display: none;
                        }
                    </style>
                </noscript>

                <form action="/endpoint/create" method="post" ng-controller="EndpointIndexController">

                    {# IMPORTANT: we use jqLite which doesn't support
                                  all kind of selectors, thus the controller
                                  is taking the first textarea it finds
                     #}
                    <textarea name="json">{{ jsoneditor_default_input | json_without_gist }}</textarea>

                    {%
                        set jeditor_config = {
                            'default_input': jsoneditor_default_input | json_without_gist | json_without_api,
                            'use_noscript': true,
                            'ace_config': '{onChange: aceChanged}'
                        }
                    %}
                    {% include 'partials/jsoneditor.twig' with jeditor_config only %}

                    {# verbatim block here is not rendered by twig as
                       angular also uses the {{ template_variable }} syntax #}
                    {% verbatim %}
                    <div ng-show="results.show" class="validation-results {{ results.class }}">
                        <div class="message">{{results.message}}</div>

                        <ul class="fa-ul" ng-show="results.errors.length > 0">
                            <li ng-repeat="error in results.errors"><i class="fa-li fa fa-flash"></i> {{ error.msg }}</li>
                        </ul>

                        <a target="_blank" href="http://spaceapi.net/documentation"><i class="fa fa-external-link"></i> Documentation</a>
                        <a target="_blank" href="http://spaceapi.net/specs/0.13"><i class="fa fa-external-link"></i> Specification</a>
                    </div>
                    {% endverbatim %}

                    <div id="jeditor_buttons">
                        <a ng-click="validate()" class="btn btn-default btn-lg" href="">Validate JSON</a>
                        <a ng-click="create()" class="btn btn-default btn-lg" href="">Create endpoint</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>
