<section class="project-links">
    <div class="container">

        {# dev-note:1 #}
        <header>
            <h2>Become part of the SpaceAPI.</h2>
            <p>The SpaceAPI is a decentralized information system made for hackerspaces.</p>
        </header>

        <div class="row">
            <div class="col-sm-4">
                <div class="media">
                    <div class="row ">
                        <div class="media-img pull-left col-sm-5 col-md-4">
                            <div class="img-overlay">
                                <a rel="bookmark" href="http://spaceapi.net" class="btn btn-primary">Open</a>
                            </div>
                            <img width="150" height="150" alt="Project Site" src="{{ basepath() }}/img/project-site.png" data-src="/img/spaceapi-log.png">
                        </div>
                        <div class="media-body col-sm-7 col-md-8  ">
                            <h4 class="media-heading">
                                <a href="http://spaceapi.net">Project Site</a>
                            </h4>
                            <p class="hidden-sm">Find out more about the information system.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media">
                    <div class="row ">
                        <div class="media-img pull-left col-sm-5 col-md-4">
                            <div class="img-overlay">
                                <a rel="bookmark" href="{{ basepath() }}/docs/getting-started" class="btn btn-primary">Open</a>
                            </div>
                            <img width="150" height="150" alt="Learn more" src="{{ basepath() }}/img/learn-more.png" data-src="/img/endpoint-learn-more.jpg">
                        </div>
                        <div class="media-body col-sm-7 col-md-8  ">
                            <h4 class="media-heading">
                                <a href="{{ basepath() }}/docs/getting-started">Learn more</a>
                            </h4>
                            <p class="hidden-sm">Learn more about creating your endpoint and to push data.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media">
                    <div class="row ">
                        <div class="media-img pull-left col-sm-5 col-md-4">
                            <div class="img-overlay">
                                <a rel="bookmark" href="{{ basepath() }}/endpoint/create" class="btn btn-primary">Open</a>
                            </div>
                            <img width="150" height="150" alt="Create your endpoint" src="{{ basepath() }}/img/endpoint-image.png" data-src="{{ basepath() }}/img/endpoint-create.jpg">
                        </div>
                        <div class="media-body col-sm-7 col-md-8 ">
                            <h4 class="media-heading">
                                <a href="{{ basepath() }}/endpoint/create">Create your endpoint</a>
                            </h4>
                            <p class="hidden-sm">Get your endpoint with only two steps here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
